@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.education-main-div {
    display: flex;
  }
  .education-text-div {
    margin-left: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
  }
  
  .education-main-div > * {
    flex: 1;
    margin-bottom: 1.5rem;
  }
  
  .education-image-div > img {
    max-width: 80%;
    height: auto;
    padding-top: 1rem;
    align-content: center;
  }
  
  .education-heading {
    font-size: 3.5rem;
    font-weight: 400;
  }
  
  .credits {
    font-size: x-small;
    color: white;
    pointer-events: none;
    cursor: default;
  }

  /* Media Query */
  @media (max-width: 1380px) {
    .education-heading {
      font-size: 40px;
    }
  }
  @media (max-width: 768px) {
    .education-heading {
      font-size: 30px;
      text-align: center;
    }
    .greeting-text-p {
      font-size: 16px;
      line-height: normal;
    }
    .education-main-div {
      flex-direction: column
    }
    .education-text-div {
      margin-left: 0px;
      margin: 20px;
    }
    .education-text {
      font-size: 16px;
    }
    .education-text-subtitle {
      font-size: 16px;
      text-align: center;
    }
    .education-image-div {
      display: none;
    }
  }