@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.not-found {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 1rem;
}

.not-found-image {
  position: relative;
  max-width: 57%;
  height: auto;
  margin-top: -0.5em;
}

.credits {
  font-size: x-small;
  color: white;
  pointer-events: none;
  cursor: default;
}

/* Media Query */

@media (max-width: 1380px) {
  .not-found-image {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .not-found-images {
    max-width: 70%;
  }
}

@media (max-width: 256px) {
  .not-found-image {
    max-width: 75%;
  }
}