.social-media-div {
    font-size: 2em;
    padding-top: 1rem;
  }
  
  .icon-button{
    color: white;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin-bottom: 10px;
    transition: 0.2s ease-in;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .linkedin {
    background-color: #0e76a8;
  }
  
  .github {
    background-color: #333;
  }
  
  .gitlab {
    background-color: #fca326;
  }
  
  .google {
    background-color: #ea4335;
  }
  
  .twitter {
    background-color: #1da1f2;
  }
  
  .medium {
    background-color: #000;
  }
  
  .stack-overflow {
    background-color: #f48024;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  /* Hover Transition */
  .twitter:hover,
  .google:hover,
  .gitlab:hover,
  .github:hover,
  .linkedin:hover,
  .facebook:hover,
  .instagram:hover,
  .stack-overflow:hover,
  .medium:hover{
    background-color: black;
  }
  
  /* Media Query */
  @media (max-width: 768px) {
    .social-media-div {
      text-align: center;
    }
  }
  