

.dev-icons {
    padding-left: 0;
    padding-top: 1.25rem;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }
  
  .software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .software-skill-inline > Icon {
    color: #868e96;
  }
  
  .software-skill-inline > Icon:hover {
    color: #645beb;
  }
  .software-skill-inline > p {
    color: #868e96;
    font-size: 0.8rem;
  }
  .software-skill-inline > Icon:hover ~ p{
    color: #645beb;
  }